# SFML
bin/
build/
lib/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# OS-specific files
.DS_Store
Thumbs.db

# Compiled files
*.o
*.out
*.dll
*.exe

# Compiled headers
*.gch

# IDE-specific files
.idea/
*.suo
*.sln
*.user
*.sdf
*.vs

# Dependency folders (adjust if needed)
dependencies/
